
.u-wrapper {
    max-width: 64rem;
}

#profile-pic {
  width: 150px;
  padding-right: 20px;
  float: left;
}

.center {
  display: block;
  margin: auto;
  text-align: center;
}

#clearfix {
  clear: both;
} 

